.author-hero {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 30px;

  &__left {
    &__photo {
      height: 220px;
      width: 220px;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      border: 3px solid $white;
      outline: 3px solid $growing-green;
      margin-bottom: 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
      }
    }

    &__social {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      grid-gap: 15px;
      margin-bottom: 15px;
      flex-direction: column;
      div {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        flex-direction: row;
        grid-gap: 8px;
      }

      img {
        max-height: 18px;
        width: auto;
        display: block;
      }

      a {
        text-decoration: none;
        color: $deep-blue;
      }
    }
  }

  &__right {
    padding-top: 20px;

    &__eyebrow {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.0175rem;
      text-transform: uppercase;
      display: block;
      margin-bottom: 15px;
    }

    &__name {
      font-family: $primary-font;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
      margin: 0;
    }

    p {
      margin: 0 0 15px 0;
    }
  }
}