// layout
.l-screen-reader,
.l-screen-reader-text,
.screen-reader-text,
.screen-reader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  z-index: 99;
  font-size: .75rem;
  color: black;
  padding: 4px;
  line-height: 1;

  &.js-focus-visible,
  &.focus-visible {
    clip: unset;
  }
}

.skip-link.focus-visible {
  background-color: $deep-blue;
  padding: 10px;
  color: $white;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
  outline: 2px solid $deep-blue !important;
}

.js-focus-visible .footer .focus-visible {
  outline: 2px solid $white !important;
}

.js-focus-visible .site-header__utility .focus-visible,
.js-focus-visible .footer .focus-visible {
  outline: 2px solid $white !important;
}

.white-card {
  border-radius: $border-radius;
  background: $white;
  box-shadow: $box-shadow;
  transition: all $transition-time ease;

  @media (max-width: $mobile) {
    border-radius: $border-radius-small;
  }

  &:hover {
    background-color: $ice-white;
  }

  &--no-hover {
    &:hover {
      background-color: $white;
    }
  }
}

.btn-container {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;

  &--left {
    justify-content: flex-start;
  }
}

.btn {
  border-radius: 6.25rem;
  background: $sky-blue;
  display: inline-block;
  line-height: 1;
  padding: 20px 30px;
  color: $white;
  font-family: $primary-font-medium;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  transition: background-color $transition-time ease;

  &:hover {
    background-color: darken($sky-blue, 8%);
  }

  &--secondary {
    background-color: $white;
    color: $deep-blue;

    &:hover {
      background-color: $light-gray;
    }
  }

  @media (max-width: $tablet-large) {
    font-size: 1rem;
    padding: 15px 20px;
  }
}

.find-plans-cta {
  background: $peach-to-sunrise;
  border: 2px solid $white;
  border-radius: $border-radius;
  padding: 40px 40px 40px 410px;
  display: flex;
  max-width: 990px;
  width: 100%;
  margin: 60px auto;
  position: relative;
  overflow: hidden;

  @media (max-width: $mobile) {
    padding: 0;
    flex-direction: column;
  }

  &:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('static/images/health-plans-cta-bg-shape.png');
    background-size: auto 100%;
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 1;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &:after {
    content: '';
    height: 95%;
    width: 410px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('static/images/health-plans-cta-bg.png');
    background-size: auto 100%;
    background-position: bottom left;
    background-repeat: no-repeat;
    z-index: 1;

    @media (max-width: $mobile) {
      position: relative;
      height: 300px;
      width: 100%;
      background-position: bottom center;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;

    @media (max-width: $mobile) {
      padding: 20px;
    }

    &__heading {
      line-height: 1.1;
      letter-spacing: -0.02rem;
      font-family: $primary-font;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      display: block;
      margin: 0 0 15px 0;

      @media (max-width: $tablet-small) {
        font-size: 1.25rem;
        line-height: 1.1;
      }
    }

    p {

    }

    a {

    }
  }


}

.call-today-cta {
  background: $peach-to-sunrise;
  border: 2px solid $white;
  border-radius: $border-radius;
  padding: 40px 40px 40px 410px;
  display: flex;
  max-width: 990px;
  width: 100%;
  margin: 60px auto;
  position: relative;
  overflow: hidden;

  @media (max-width: $mobile) {
    padding: 0;
    flex-direction: column;
  }

  &:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('static/images/health-plans-cta-bg-shape.png');
    background-size: auto 100%;
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 1;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &:after {
    content: '';
    height: 95%;
    width: 410px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('static/images/call-today-cta-bg.png');
    background-size: 100% auto;
    background-position: bottom left;
    background-repeat: no-repeat;
    z-index: 1;

    @media (max-width: $mobile) {
      position: relative;
      height: 300px;
      width: 100%;
      background-position: bottom center;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;

    @media (max-width: $mobile) {
      padding: 20px;
    }

    &__heading {
      line-height: 1.1;
      letter-spacing: -0.02rem;
      font-family: $primary-font;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      display: block;
      margin: 0 0 15px 0;

      @media (max-width: $tablet-small) {
        font-size: 1.25rem;
        line-height: 1.1;
      }
    }

    p {

    }

    a {

    }
  }
}


.contact-card {
  margin: 40px auto;
  max-width: 690px;
  width: 100%;
  border-radius: $border-radius-small;
  background: $ice-to-catskill;
  padding: 20px;

  &__inner {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }

    &__item {
      display: flex;
      flex-direction: row;
      grid-gap: 10px;
      justify-content: flex-start;
      align-items: flex-start;

      a {
        color: $deep-blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &__email-icon {
        display: block;
        height: 22px;
        width: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('static/images/email-icon.png');
      }

      &__map-icon {
        display: block;
        height: 26px;
        width: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('static/images/map-icon.png');
      }
    }
  }
}
