.email-cta {
  padding-top: 80px;
  position: relative;

  @media (max-width: $tablet-small) {
    padding-top: 40px;
  }

  &__inner {
    position: relative;
    padding: 48px;
    border-radius: $border-radius;
    background: $peach-to-sunrise;
    border: 2px solid $white;

    @media (max-width: $tablet-small) {
      padding: 30px;
    }

    @media (max-width: $mobile) {
      padding: 20px 20px 0 20px;
    }

    &:after {
      position: absolute;
      content: '';
      width: 50%;
      top: -80px;
      right: 0;
      height: calc(100% + 80px);
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('static/images/happy-family-compressed.png');
      background-position: top center;
      @media (max-width: $tablet-small) {
        width: 40%;
        background-position: bottom center;
      }
      @media (max-width: $mobile) {
        width: 100%;
        top: unset;
        right: unset;
        height: 300px;
        position: relative;
        display: block;

      }
    }

    &__left {
      max-width: 640px;
      width: 100%;

      @media (max-width: $tablet-small) {
        max-width: 60%;
      }
      @media (max-width: $mobile) {
        max-width: 100%;
      }

      &__text {
        a {
          color: $deep-blue;
        }
      }

      &__form {
        min-height: 340px;
      }

      &__disclaimer {
        font-size: 1rem;

        a {
          color: $deep-blue;
        }
      }
    }

  }
}

.footer {
  background-color: $deep-blue;
  padding: 80px 0;

  @media (max-width: $tablet-small) {
    padding: 40px 0;
  }

  * {
    color: $white;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $tablet-small) {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }

    &__logo {

      a {
        display: block;
      }

      @media (max-width: $tablet-small) {
        text-align: center;
      }

      img {
        max-width: 280px;
        height: auto;
        @media (max-width: $mobile) {
          max-width: 220px;
        }
      }
    }

    &__utility {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 30px;

      @media (max-width: $mobile) {
        flex-direction: column;
      }

      &__phone {
        a {
          font-family: $secondary-font;
          font-size: 1rem;
          color: $white;
          text-decoration: none;
        }
      }

      &__search {
        background: none;
        border: none;
        font-family: $secondary-font;
        font-size: 1rem;
        color: $white;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &__social {
        display: flex;
        flex-direction: row;
        grid-gap: 15px;
        @media (max-width: $mobile) {
          grid-gap: 30px;
        }

        a {
          display: inline-block;
          text-decoration: none;

          img {
            max-height: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  &__navigation {
    display: grid;
    grid-template-columns: 400px auto auto;
    justify-content: space-between;
    margin: 80px 0;

    @media (max-width: $tablet-small) {
      grid-template-columns: 1fr;
      grid-gap: 60px;
    }

    &__col {
      &__title {
        font-family: $primary-font-medium;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem;
        @media (max-width: $tablet-large) {
          font-size: 1.1rem;
          line-height: 1.1;
        }
        @media (max-width: $tablet-small) {
          text-align: center;
        }
      }

      ul {
        margin: 0;
        padding: 0;

        &.footer-1,
        &.footer-3 {
          display: grid;
          grid-template-columns: minmax(0px, 200px) max-content;
          grid-gap: 30px;
          @media (max-width: $tablet-large) {
            grid-gap: 15px;
          }
          @media (max-width: $tablet-small) {
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            grid-gap: 0;
          }
        }

        li {
          list-style: none;
          margin: 0 0 15px;
          @media (max-width: $tablet-large) {
            margin: 0 0 10px;
          }
          @media (max-width: $tablet-small) {
            text-align: center;
          }

          a {
            text-decoration: none;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.01125rem;
            @media (max-width: $tablet-large) {
              font-size: 1rem;
              display: block;
              padding: 10px;
            }

          }
        }
      }
    }
  }

  &__legal {
    display: grid;
    grid-template-columns: auto auto;
    @media (max-width: $tablet-small) {
      grid-template-columns: 1fr;
    }

    &__links {
      @media (max-width: $tablet-small) {
        text-align: center;
      }

      p {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 1.35rem */
        letter-spacing: -0.01125rem;
        @media (max-width: $tablet-large) {
          font-size: 1rem;
        }
      }
    }

    &__copyright {
      text-align: right;
      @media (max-width: $tablet-small) {
        text-align: center;
      }

      p {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 1.35rem */
        letter-spacing: -0.01125rem;
        @media (max-width: $tablet-large) {
          font-size: 1rem;
        }
      }
    }
  }

  &__disclaimer {
    margin-top: 80px;
    border-top: 1px solid $white;
    padding-top: 80px;

    @media (max-width: $tablet-small) {
      margin-top: 40px;
      padding-top: 40px;
    }

    p {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 1.05rem */
      letter-spacing: -0.00875rem;
    }
  }
}
