.hero-block {
  &__inner {
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    grid-gap: 80px;

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }

    &__left {
      &__image {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

    &__right {
      &__text {
        @media (max-width: $mobile) {
          text-align: center;
        }
        h1 {

        }
        p {
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 1.8rem */
          @media (max-width: $tablet-small) {
            font-size: 1rem;
          }
        }
      }

      &__form {
      }

      &__disclaimer {
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: flex-start;

        @media (max-width: $mobile) {
          flex-direction: column;
        }
      }
    }
  }

}