.image-with-text {
  &--left {
    .image-with-text__inner {
      grid-template-columns: 5fr 7fr;
    }
  }

  &--right {
    .image-with-text__inner {
      grid-template-columns: 5fr 7fr;
      direction: rtl;
      grid-auto-flow: dense;

      .image-with-text__inner__content {
        text-align: left;
        direction: ltr;

        ol, ul {
          margin: 40px;
          li {
            margin: 0 0 15px 0;
          }
        }

        * {
          text-align: left;
        }
      }
    }
  }

  &__inner {
    display: grid;
    grid-gap: 40px;
    align-items: center;

    &__image {
      img {
        width: 100%;
        height: auto;
      }
    }

    &__content {
    }
  }
}
