.insurance-by-state {
  &--small {
    .insurance-by-state__inner {
      min-height: 487px;
      @media (max-width: $tablet-large) {
        min-height: 300px;
      }
      @media (max-width: $mobile) {
        padding: 15px;
      }
    }

  }

  &--large {
    .insurance-by-state__inner {
      min-height: 685px;
      @media (max-width: $tablet-large) {
        min-height: 585px;
      }
      @media (max-width: $mobile) {
        min-height: 400px;
        padding: 15px;
      }
    }
  }

  &__inner {
    background-image: url('static/images/options-by-state-bg-compressed.png');
    background-size: cover;
    background-position: center;
    border-radius: $border-radius;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $white;
    flex-direction: column;

    &__text {
      * {
        color: $white;
      }
      p {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 1.8rem */

        @media (max-width: $tablet-small) {
          font-size: 1rem;
        }
      }
    }

    &__form {
    }
    &__disclaimer {
      display: flex;
      align-items: center;
      gap: 6px;
      justify-content: flex-start;
      @media (max-width: $mobile) {
        flex-direction: column;
      }
      * {
        color: $white;
      }
    }
  }
}
