.insurance-by-state {
  &--small {
  }

  &--large {
  }

  &__inner {
    background-image: url('static/images/options-by-state-bg-compressed.png');
    background-size: cover;
    min-height: 685px;
    border-radius: $border-radius;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $white;

    &__text {
      * {
        color: $white;
      }
      p {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 1.8rem */
      }
    }

    &__form {
    }
  }
}
