.latest-posts {
  position: relative;

  @media (max-width: $tablet-large) {
    overflow: hidden;
  }

  &:before {
    content: '';
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $ice-to-catskill;
  }

  &__inner {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      @media (max-width: $tablet-small) {
        margin-bottom: 40px;
      }
      @media (max-width: $mobile) {
        flex-direction: column;
      }

      span {
        margin: 0;
      }
    }
  }

  &__grid {
    overflow-x: visible;
    width: 100vw;
    padding-bottom: 130px;
    position: unset;

    .slick-arrow {
      position: absolute;
      bottom: 45px;
      height: 45px;
      width: 45px;
      appearance: none;
      border: none;
      border-radius: 45px;
      background-color: $white;
      box-shadow: $box-shadow;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: 21px 13px;
      background-position: center;
      transition: opacity $transition-time ease;
      opacity: 1;

      &.slick-disabled {
        opacity: 0;
        pointer-events: none;
      }

      span {
        display: none;
      }

      &.slick-next {
        right: 0;
        background-image: url('static/images/next-arrow.png');
        @media (max-width: $tablet-large) {
          right: 30px;
        }
      }

      &.slick-prev {
        left: 0;
        background-image: url('static/images/prev-arrow.png');

        @media (max-width: $tablet-large) {
          left: 30px;
        }
      }
    }

    .slick-slide {
      > div {
        margin-right: 30px;
      }

    }
  }
}

.article-card {
  background: #fff;
  border-radius: $border-radius-small;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  height: 100%;


  &__image {
    width: 100%;
    height: 190px;
    display: block;
    position: relative;
    overflow: hidden;

    @media (max-width: $tablet-small) {
      height: 140px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }

    &__category {
      position: absolute;
      top: 15px;
      left: 15px;
      background: $ice-white;
      color: $sky-blue;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.0175rem;
      text-transform: uppercase;
      border-radius: 6px;
      padding: 4px 10px;
      align-self: flex-start;
      margin-bottom: 0;
      font-family: $secondary-font;

      &--featured {
        background-color: $deco-green;
        display: flex;
        align-items: center;
        gap: 4px;
        color: $deep-blue;

        img {
          all: unset;
          height: 16px;
          width: auto;
        }
      }
    }

    &--hc-guide {
      height: 436px;

      @media (max-width: $tablet-large) {
        height: 300px;
      }

      @media (max-width: $mobile) {
        height: 460px;
      }
    }
  }

  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: $tablet-large) {
      padding: 15px;
    }

    &__date {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.0175rem;
      text-transform: uppercase;
      color: $sky-blue;
      font-family: $secondary-font;
    }

    &__title {
      font-family: $primary-font-medium;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5rem;
      text-decoration: none;
      color: $deep-blue;
      margin: 24px 0;
      @media (max-width: $tablet-small) {
        font-size: 1.2rem;
        line-height: 1.1;
      }

    }

    &__excerpt {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6;
      color: #333;
      margin-bottom: auto;
    }

    &__link {
      margin-top: 23px;
      color: $deep-blue;
      display: inline-flex;
      align-items: center;
      gap: 6px;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.01125rem;
      text-decoration: none;
      transition: gap $transition-time ease;

      &:hover {
        text-decoration: none;
        gap: 10px;
      }

      &::after {
        content: '';
        height: 13px;
        width: 21px;
        background-repeat: no-repeat;
        background-size: 21px 13px;
        background-position: center;
        background-image: url('static/images/next-arrow.png');
      }
    }
  }
}

